<div class="review__comment">
	<%= form_with(model: [place, review, review_comment], remote: true) do |f| %>
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
					<p>コメントを投稿</p>
					<%= f.text_area :comment, rows:3, :placeholder=> "128文字以内", class: "form-control" %>
				</div>
			</div>
			<div class="col-sm-1 align-self-end">
				<div class="form-group">
					<%= f.submit "送信する", class: "btn btn-info" %>
				</div>
			</div>
		</div>
	<% end %>
</div>