<div class="row">
	<%= render 'profile', user: @user %>
	<div class="col-sm-9">

		<h1>マイレビュー</h1>
		<% if @reviews.count > 0 %>
			<% @reviews.each do |review| %>
				<%= render 'reviews/post_content', user: @user, review: review %>
			<% end %>
		<% else %>
			<h3 class="review__none">レビューをしよう！！！</h3>
		<% end %>
	</div>
</div>
