<div class="row">
	<%= render 'profile', user: @user %>
	<div class="col-sm-9">

		<h1>Users#show</h1>
		<% @reviews.each do |review| %>
			<%= render 'reviews/post_content', user: @user%>
		<% end %>
	</div>
</div>
