/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// .form-red {
// 	background-color: red;
// 	color: #fff;
// 	padding: 0 5px 0 5px;
// 	border-radius: 5px;
// }


.bootstrap-date-only-width {
  width: auto;
  display: inline-block;
}

.position-fixed {
	border-right: 1px solid #000;
	padding-right: 20px;
	padding-bottom: 100%;
}

.form{
	margin-top: 50px;
}
.form-red {
	background-color: red;
	color: white;
	padding: 3px 5px 3px 5px;
	border-radius: 5px;
	font-size: 70%;
}

.btn-green {
	color: #000;
	background-color: #99CC99;
}

.btn-orange {
	color: #000;
	background-color: #FFCCCC;
}

.btn-blue {
	color: #000;
	background-color: #FFCC66;
}
