// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.places {

	&_new-text th {
		font-size: 120%;
		font-weight: bolder;
		padding: 0 30px 15px 0;
	}

	&_new-text td {
		font-size: 115%;
		padding: 0 30px 15px 0;
	}

	&__list {
		margin-top: 30px;
		width: 100%;
	}

	&__list th {
		border-bottom: 3px solid #000;
	}

	&__list td {
		border-bottom: 1px solid #eee;
		padding: 10px 0 5px 0;
	}

	&__new-link {
		margin-top: 15px;
	}
// show.html
	&__review-link {
		margin: 0 0 0 auto;
    	padding-right: 100px;
	}

	&__info {
		padding-bottom: 10px;
		border-bottom: 2px solid #eee;
		margin-bottom: 15px;
	}

	&__rate img {
		width: 30px;
	}

	&__rate b {
		font-size: 22px;
		padding-right: 10px;
	}

}