// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review {

	&__place {
		margin-top: 30px;
	}

	&__place h3 {
		display: inline;
	}

	&__place p {
		display: inline;
		margin-left: 20px;
	}

	&__form-title {
		font-size: 15px;
	}

	&__form-img p:nth-child(odd) {
		float: left;
	}

	&__none {
		margin-top: 20%;
 	   	color: #999;
    	text-align: center;
	}

	&__rate img {
	width: 30px;
	}

	// review.show

	&__edit {
		padding-bottom: 10px;
	}

	&__comment-user {
		padding-bottom: 5px;
	}

	&__cooment-usere-img {
		float: left;
	}

	&__comment-info {
		color: #c0c0c0;
		margin-top: 8px;
	}

	&__comment-list {
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: 2px solid #eeeeee;
	}

	&__comment-delete {
		float: right;
	}
}