// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {

	&__image {
		background-image: image-url("sky.jpg");
		width: 100%;
		height: 250px;
		background-size: 100% 280px;
		margin-bottom: 30px;
	}

	&__search {
		padding: 40px;
		border: 2px solid #EEEEEE;
	}

	&__play-rank {
		border: 2px solid #EEEEEE;
		float: left;
		margin: 40px 0 20px 0;
		margin-top: 40px;
		margin-bottom: 20px;
		padding-top: 20px;
		width: 45%;
	}

	&__meal-rank {
		border: 2px solid #EEEEEE;
		float: right;
		margin: 40px 0 20px 0;
		margin-top: 40px;
		margin-bottom: 20px;
		padding-top: 20px;
		width: 45%;
	}


	&__genre {
		text-align: center;
		padding-bottom: 5px;
		border-bottom: 1px solid #EEEEEE;
	}

	&__rank-info  h4{
		padding-left: 25px;
	}

	&__rank-info h5 {
		font-weight: bold;
		display: inline;
		padding-left: 25px;
		margin-bottom: 5px;
	}

	&__rank-rate {
		padding-left: 25px;
		border-bottom: 1px solid #EEEEEE;
		padding-bottom: 8px;
		margin-bottom: 1px;
	}

}