<h1><%= @place.name %></h1>

	<div class="place-info">
		<%= @place.genre %>
		<%= @place.prefecture %>
		<%= link_to "ここのレビューをする", new_place_review_path(@place.id), class: "btn btn-warning" %>
	</div>